{% extends 'base.html' %}


{% block title %}
    Registrar empleado
{% endblock title %}
    

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar persona</h1>
        <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            
            <div class="medium-6 cell">
                <label>Nombres
                    {{ form.first_name }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellidos
                    {{ form.last_name }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Trabajo
                    {{ form.job }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>departamento
                    {{ form.departamento }}
                </label>
            </div>
            <div class="medium-12 cell">
                <label>Habilidades
                    {{ form.habilidades }}
                </label>
            </div>
            <div class="medium-12 cell">
                <label>Avatar
                    {{ form.avatar }}
                </label>
            </div>
            <div class="medium-12 cell">
                <label>Hoja de Vida
                </label>
                {{ form.hoja_vida }}
            </div>
            <button type="submit" class="success button cell large-4">Guardar</button>
        </form>
    </div>
</div>
{% endblock content %}
    